.vscode
bin
inlcude
lib
lib64
share
ta-lib
pyvenv.cfg
main/jsonData/__pycache__
Data.csv
JSON
main/test.json
main/train.json
main/val.json
main/Model/__pycache__
main/traintest/__pycache__
main/__pycache__